openapi: 3.0.0
info:
  title: Pushlog API
  version: '1.0'
  description: ''
  contact:
    name: Christoph
    email: christoph_krassnigg@gmx.net
servers:
  - url: 'https://api.gebes.eu/pushlog'
paths:
  /user:
    post:
      summary: Create User
      operationId: post-user
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              examples:
                Example:
                  value:
                    userToken: OpMqV2sA2nHjZ_prtfNwDcmq8wuwcC06Bp5i50IDQW8eZm1bHEPQWosGjPP1_i9OuCDTeS7QvJnBRcVGwWSUp-IvJvLHqbDf7IpOuOUh_r-D98wpVe0JBoEpB87G-dRv5UjzDFhUx4lxEtMqFRrY2KjKSDKA7oDVWbQNhPvN6xN9xrXnukuirzhb5koU-ni7HVgYsCc9pngSXwhaYIYnQsK2ThnX7RxnXtH9el-bsDfxLCPXmrLHol9v14cixfIipjEKTWWVs-vbA26qZQQL6uYNtaUjMXi-j8l2z90ve07C4sdtwzAzm4OiWfIRQcZJnLxpsj-Fv0iPwJyPjyi6HTBt2addUpAE_Uv6TJN2dujmEgYY0dcKX1DynOc7Cv9PDcZdVRPzybHeTAyr_7PdNytUj3qtQzQRHYwPj8k1BnRFQnf83tRV_Ib3OyAX4c9KFaANKoyvalFnoH0IagTPnc-ZJYGT8YBeYMWHsAK6T_SYFoI51sVCKBXi0p5rGzz-0OlyMfkW1CCWJ_sBO9TdMqOUTz65rCcthCLtpPsHBDq4H160lUx-X4JPJQpkze-cBsWGjAAVTEC-9HYKQLpmtd_zf1EWnz6IoT5hfAGX9bCOWJzPOHMSWWrsigFlDlzr96Zqd6POF71QBWwHaTye4peHZ4ExMA_xry0zOkSQIWA=
                    displayName: TestAccount
                    logs: []
            application/xml:
              schema:
                type: object
                properties: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
              examples:
                Example 1:
                  value:
                    error: A displayname parameter in the body is required
                Example 2:
                  value:
                    error: Displayname can't be greater than 32
      description: Create a user with a brandnew userToken
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                displayname:
                  type: string
                  description: display name <= 32
              required:
                - displayname
            examples:
              Example:
                value:
                  displayname: My User Name
        description: ''
      parameters: []
  '/user/{userToken}':
    parameters:
      - schema:
          type: string
        name: userToken
        in: path
        required: true
    get:
      summary: Get User
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              examples:
                Example:
                  value:
                    userToken: OpMqV2sA2nHjZ_prtfNwDcmq8wuwcC06Bp5i50IDQW8eZm1bHEPQWosGjPP1_i9OuCDTeS7QvJnBRcVGwWSUp-IvJvLHqbDf7IpOuOUh_r-D98wpVe0JBoEpB87G-dRv5UjzDFhUx4lxEtMqFRrY2KjKSDKA7oDVWbQNhPvN6xN9xrXnukuirzhb5koU-ni7HVgYsCc9pngSXwhaYIYnQsK2ThnX7RxnXtH9el-bsDfxLCPXmrLHol9v14cixfIipjEKTWWVs-vbA26qZQQL6uYNtaUjMXi-j8l2z90ve07C4sdtwzAzm4OiWfIRQcZJnLxpsj-Fv0iPwJyPjyi6HTBt2addUpAE_Uv6TJN2dujmEgYY0dcKX1DynOc7Cv9PDcZdVRPzybHeTAyr_7PdNytUj3qtQzQRHYwPj8k1BnRFQnf83tRV_Ib3OyAX4c9KFaANKoyvalFnoH0IagTPnc-ZJYGT8YBeYMWHsAK6T_SYFoI51sVCKBXi0p5rGzz-0OlyMfkW1CCWJ_sBO9TdMqOUTz65rCcthCLtpPsHBDq4H160lUx-X4JPJQpkze-cBsWGjAAVTEC-9HYKQLpmtd_zf1EWnz6IoT5hfAGX9bCOWJzPOHMSWWrsigFlDlzr96Zqd6POF71QBWwHaTye4peHZ4ExMA_xry0zOkSQIWA=
                    displayName: TestAccount
                    logs: []
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              examples:
                Example:
                  value:
                    error: Couldn't find user with the requested token
      operationId: get-user-userToken
      parameters: []
      description: Get all the info and logs about a user
  /log:
    post:
      summary: ''
      operationId: post-log
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Log'
              examples:
                Example:
                  value:
                    logToken: '-N8CF3f5-RD5vu-PGEWh9l9KQzt_3w3pBT_n7gKXTzqEeFx1kqWpGm6ofasQOhN5yILbbndz63oDDBZmomBrXSkuCQCZIh7_ez9ivrdE07q5BanP89DsNrFx-NrhzxlzvspupV3X_UR7Px8lKLaHF5_sfxKJO1MO__hq6EUTpmli6CQlZsC2oUp4akm4Xrv3nMv6bucExPkEK6DtEnAbV8m4-0t4eCvGxFpUnBwVDc2uS1TU2wf-OGI_RseydK8sRGAGoW-FcgYtsknXqytoiUpX9wxLEucNbfX6uiaPS3ubjNnBGaSMr2_e4-FEu-K6tbln4HYJv7unIOy51yqJuYDj_rENpFyLBrk-uZTe03nvY95ge1EeoOxowenIU8zwGKRyad0XJsjI-NJ7fJLuS45t5to0GyQlK4EVA6WJci-68sLYWZDpzvfsI7HL6ptSOXnI72E5-SewiLbXiidJoN89GBMltqwbQhuL7DJ9MeUC1UCFpb77bqcO5hUNu3PXEGyzkAWnGh56_cOHKnnJ_4LMA1LUqRW__As4nzyC79UlhV-lGFcVroE9kw1uqP-4oFVWBeegI0Vi_szJDw4TUqo-rbrjxZqEINphyjpdPQRbWsTySnp1Nkyk1A5aniFPZ0SPSprw48lHggA71ogqOXMlAzu53q8QlxYpakqrW_Y='
                    displayName: TestLog
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              examples:
                Example:
                  value:
                    error: A displayName parameter in the body is required
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              examples:
                Example:
                  value:
                    error: Couldn't find any user with that token
      description: Create a user with a brandnew logToken
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                displayName:
                  type: string
                  description: |
                    name <= 32
                userToken:
                  type: string
                  description: |
                    token of the creator
        description: ''
  '/log/{level}':
    parameters:
      - schema:
          type: string
        name: level
        in: path
        required: true
    post:
      summary: ''
      operationId: post-log-level
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  logToken:
                    type: string
                  value:
                    type: string
              examples:
                Example:
                  value:
                    logToken: pXd3jFxsChzw93Dk4dRpc3yUWBNsMX9SGmF_B87UNYJT7yp8pYcb1hcrM6dkiOyybEjnBbFZX3OoZ0chmKjFmbLnANTUk25AxovyWvoSnG4RhsS2KSC0twnOqsy9WYiukXWLPgTy9DeKNEsD9UKalJs8_xB8DhcNNvx9EMcbTA7xnlAwVhEdmakxSMFtb1A_mtrzystjvyyiT8mpNFW38mIdS5DT1tVG4iWNLcvgeG7XzqMaDcPkbpqQFKGUrvkhEXK-fBdll1gwroqypkTTA57b-d2QIGo1uj54v9BXdlwip2NpL_AcCe3Sw3ZybdZqsfVVoVf-9iANouP3CR-zhxJ9TdILIKKMCebyruaPU0sNNTE4MVc_yYNUUwIq4h2dxq1Ma3NGMI6K-H28vEnfHK9MGTYoXDrnvf0au6ln1sy3PStuOfTkDi2ryg0Dl-5v-CRXphtCXUkk1x63ZyXanc9bVt4qIM0EzT43Is4cYh4MM1X2kQ1ghnqeR7fuaOlZpZY8M-zO-sgcYfQQJX-u4ELES9War32vdD0PnddcBx1MRu7Nbq1elbacYYLGJiXXJOEHlyorL4YvnwJ-MYM5PjtlyVDkHWZBlVAG4AfL3OnSUqz0fu0FoPZaM-NH9z9TOlvdrZH3GjCFOpa4VQhwVt8p9L6oDHLaxlZgkRj8y9w=
                    value: "\U0001F7E8Alarm! We got hacked but the backend still runs, so everything is still fine"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              examples:
                Example:
                  value:
                    error: A logToken paramter is required
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              examples:
                Example:
                  value:
                    error: Couldn't find a log with the token
      description: Add a entry with custom level
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                logToken:
                  type: string
                value:
                  type: string
            examples:
              Example:
                value:
                  logToken: pXd3jFxsChzw93Dk4dRpc3yUWBNsMX9SGmF_B87UNYJT7yp8pYcb1hcrM6dkiOyybEjnBbFZX3OoZ0chmKjFmbLnANTUk25AxovyWvoSnG4RhsS2KSC0twnOqsy9WYiukXWLPgTy9DeKNEsD9UKalJs8_xB8DhcNNvx9EMcbTA7xnlAwVhEdmakxSMFtb1A_mtrzystjvyyiT8mpNFW38mIdS5DT1tVG4iWNLcvgeG7XzqMaDcPkbpqQFKGUrvkhEXK-fBdll1gwroqypkTTA57b-d2QIGo1uj54v9BXdlwip2NpL_AcCe3Sw3ZybdZqsfVVoVf-9iANouP3CR-zhxJ9TdILIKKMCebyruaPU0sNNTE4MVc_yYNUUwIq4h2dxq1Ma3NGMI6K-H28vEnfHK9MGTYoXDrnvf0au6ln1sy3PStuOfTkDi2ryg0Dl-5v-CRXphtCXUkk1x63ZyXanc9bVt4qIM0EzT43Is4cYh4MM1X2kQ1ghnqeR7fuaOlZpZY8M-zO-sgcYfQQJX-u4ELES9War32vdD0PnddcBx1MRu7Nbq1elbacYYLGJiXXJOEHlyorL4YvnwJ-MYM5PjtlyVDkHWZBlVAG4AfL3OnSUqz0fu0FoPZaM-NH9z9TOlvdrZH3GjCFOpa4VQhwVt8p9L6oDHLaxlZgkRj8y9w=
                  value: "\U0001F7E8Alarm! We got hacked but the backend still runs, so everything is still fine"
  '/log/{logToken}/from/{start}/until/{end}':
    parameters:
      - schema:
          type: string
        name: logToken
        in: path
        required: true
      - schema:
          type: number
        name: start
        in: path
        required: true
        description: unix time in milliseconds
      - schema:
          type: number
        name: end
        in: path
        required: true
        description: unix time in milliseconds
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LogEntry'
              examples:
                Example:
                  value:
                    - timestamp: 123
                      value: the log message
                      level: info
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              examples:
                Example:
                  value:
                    error: Couldn't find the log with that token
      operationId: get-log-logToken-from-start-until-end
      description: Returns all the logs in a time range
components:
  schemas:
    User:
      title: User
      type: object
      properties:
        userToken:
          type: string
        displayName:
          type: string
        logs:
          type: array
          items:
            $ref: '#/components/schemas/Log'
      x-examples:
        Example:
          userToken: OpMqV2sA2nHjZ_prtfNwDcmq8wuwcC06Bp5i50IDQW8eZm1bHEPQWosGjPP1_i9OuCDTeS7QvJnBRcVGwWSUp-IvJvLHqbDf7IpOuOUh_r-D98wpVe0JBoEpB87G-dRv5UjzDFhUx4lxEtMqFRrY2KjKSDKA7oDVWbQNhPvN6xN9xrXnukuirzhb5koU-ni7HVgYsCc9pngSXwhaYIYnQsK2ThnX7RxnXtH9el-bsDfxLCPXmrLHol9v14cixfIipjEKTWWVs-vbA26qZQQL6uYNtaUjMXi-j8l2z90ve07C4sdtwzAzm4OiWfIRQcZJnLxpsj-Fv0iPwJyPjyi6HTBt2addUpAE_Uv6TJN2dujmEgYY0dcKX1DynOc7Cv9PDcZdVRPzybHeTAyr_7PdNytUj3qtQzQRHYwPj8k1BnRFQnf83tRV_Ib3OyAX4c9KFaANKoyvalFnoH0IagTPnc-ZJYGT8YBeYMWHsAK6T_SYFoI51sVCKBXi0p5rGzz-0OlyMfkW1CCWJ_sBO9TdMqOUTz65rCcthCLtpPsHBDq4H160lUx-X4JPJQpkze-cBsWGjAAVTEC-9HYKQLpmtd_zf1EWnz6IoT5hfAGX9bCOWJzPOHMSWWrsigFlDlzr96Zqd6POF71QBWwHaTye4peHZ4ExMA_xry0zOkSQIWA=
          displayName: TestAccount
          logs: []
    Log:
      title: Log
      type: object
      properties:
        logToken:
          type: string
        displayName:
          type: string
    LogEntry:
      title: LogEntry
      type: object
      properties:
        timestamp:
          type: number
        value:
          type: string
        level:
          type: string
  securitySchemes: {}
